.cards {
  width: 920px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 100px;
  margin: 60px auto 100px;
}

.cards_item {
  width: 240px;
  text-align: center;
}

.cards_image {
  width: 160px;
  height: 160px;
  margin: 0 auto 43px;
  border-radius: 50%;
}

.cards_title {
  width: 100%;
  margin: 0 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards_description {
  width: 100%;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
